{{~
    sites = {
        "site16" : {
            name: "site16",
            cidr: "172.16.0.0/16",
            firewall: resolve_a("citrus.rvtn.net")
        },
        "site20" : {
            name: "site20",
            cidr: "172.20.0.0/16",
            firewall: resolve_a("capsicum.rvtn.net")
        }
}
~}}